aiogram==2.18
aiosignal==1.2.0
async-generator==1.10
async-timeout==4.0.2
attrs==21.4.0
Babel==2.9.1
beautifulsoup4==4.10.0
bs4==0.0.1
multidict==6.0.2
requests==2.27.1
schedule==1.1.0
selenium==4.1.0
telebot==0.0.4
telegram==0.0.1
trio==0.19.0
trio-websocket==0.9.2
urllib3==1.26.8
webdriver-manager==3.5.2
